Repository technote-space/add-richtext-toolbar-button, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, typescript, dependencies, Type: Testing, Type: Documentation

v1.3.0
  autoload.php
  readme.txt
  update.json
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

feat: add readme in english (#163)
  README.ja.md
  README.md
Labels: Type: Documentation

feat: update packages
  assets/js/package.json
  assets/js/yarn.lock
Labels: dependencies

Update toc.yml
  .github/workflows/toc.yml
Labels: none

chore: update tests
  tests/models/custom_post/test-setting.php
Labels: none

chore: use unar
  .travis.yml
Labels: none

chore: update travis ci setting
  .travis.yml
Labels: none

feat: update readme
  readme.txt
Labels: none

.github/labeler.yml:

javascript:
  - '**/*.js'
typescript:
  - '**/*.ts'
dependencies:
  - '**/*.lock'
  - '**/*-lock.json'

'Type: Testing':
  - '**/tests/*'
  - '**/test/*'
  - '**/__tests__/*'

'Type: Documentation':
  - '**/*.md'
